h4 {
    margin-bottom: .5em;
}

#map {
    height: 98vh;
    width: 100%;
}

#pac-input {
    position: absolute;
    width: 40ch;
    top: 0px;
    height: 1.5em;
    font-size: 1.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 14px;
    padding: 0 0.45em;
    z-index: 1;
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.45em;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;

}

.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
}

body {
    margin: 4px;
    background: #A9A9A9;
    background: -moz-radial-gradient(center, #A9A9A9 0%, #E4E4E4 50%, #E1E1E1 100%);
    background: -webkit-radial-gradient(center, #A9A9A9 0%, #E4E4E4 50%, #E1E1E1 100%);
    background: radial-gradient(ellipse at center, #A9A9A9 0%, #E4E4E4 50%, #E1E1E1 100%);
}

@media screen and (max-width: 970px) {
    #pac-input {
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin-bottom: 4px;
        margin-top: 0px;
        overflow: scroll;
        position: static;
        font-size: 1.5em;
    }

    #map {
        height: 93vh;
    }
}